* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

@font-face {
    font-family: "nyt-franklin-600";
    src: url("../fonts/franklin-normal-600.ttf") format("truetype");
}

@font-face {
    font-family: "nyt-franklin-800";
    src: url("../fonts/franklin-normal-800.ttf") format("truetype");
}

.top-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem 0 0;
    border-bottom: 1px solid #424242;
}

.button-set {     
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.hint-button, .stats-button, .leader-board-button, .help-button, .settings-button {
    background-color: black;
    border:none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.875rem / 1.125rem "nyt-franklin-600";
    color: white;
    border: solid 0.0625rem white;
    border-radius: 9999px;
    width: 5.3125rem;
    height: 2rem;
    padding: 0 0.75rem;
    background-color: black;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.board {
    width: 18.75rem;
    height: 22.5rem;
    padding: 0.625rem;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.3125rem;
}

.invalid-entry-container {
    justify-content: center;
    align-items: center;
    top: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    opacity: 0; /* Initially hidden */
    transition: opacity 1.6s ease-out;
    pointer-events: none; /* Prevent interaction while invisible */
}

.invalid-entry-container.show {
    opacity: 1; /* Instantly visible */
    transition: none; /* Disable transation on appreance  */
}

.invalid-entry {
    font-family: "nyt-franklin-600";
    font-weight: bold;
    font-size: 0.96rem;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.5;
}

.row-tile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.3125rem;   
}

.shake-animation {
    animation-name: row-shake;
    animation-duration: 600ms;
}

.flip-animation {
    animation-name: flip;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

.tile {
    font-family: "nyt-franklin-600";
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #f8f8f8;
    text-transform: uppercase;
    user-select: none;
    border: 2px solid #3a3a3c;  
}

.keyboard-container {
    height: 12.5rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    height: 12.375rem;
    width: 30.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.375rem;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 0.5rem;
    touch-action: manipulation;
}

.button-keys {
    font-family: "nyt-franklin-800";
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 0.375rem 0 0;
    height: 3.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #f8f8f8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.15;
}

.spacer {
    flex: 0.5;
}

.enter-clear {
    flex: 1.5;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .top-header {
        padding: 0px 1rem;
        justify-content: flex-end;
    }
}

@media (min-width: 400px) {
    .logout-button {
        margin-left: 0.625rem;
    }
}

@media (min-width: 375px) {
    .logout-button {
        width: 9.1875rem;
    }
}

@media (min-width: 1024px) {
    .top-header {
        padding: 0px 1.5rem;
        height: 3.5rem;
        justify-content: flex-end;
    }

    
    .logout-button {
        font: 1rem / 1.3125rem "nyt-franklin-600";
        height: 2.75rem;
        width: 10.75rem;
        margin-left: 0.75rem;
        padding: 0 1rem;
        min-height: 2.1875rem;
    }
    
}

@keyframes row-shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}


@keyframes flip {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }