* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

@font-face {
    font-family: "nyt-franklin-600";
    src: url("../fonts/franklin-normal-600.ttf") format("truetype");
}

.top-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem 0 0;
    border-bottom: 1px solid #424242;
}

.button-set {     
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.hint-button, .stats-button, .leader-board-button, .help-button, .settings-button {
    background-color: black;
    border:none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 14px / 18px "nyt-franklin-600";   
    color: white;
    border: solid 1px white;
    border-radius: 9999px;
    width: 85px;
    height: 32px;
    padding: 0 12px;
    background-color: black;
}

.board-container {
    border: 1px solid balck;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.board {
    width: 18.75rem;
    height: 22.5rem;
    padding: 0.625rem;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.3125rem;
}

.row-tile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.3125rem;   
}

.tile {
    font-family: "nyt-franklin-600";
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #f8f8f8;
    text-transform: uppercase;
    user-select: none;
    border: 2px solid #3a3a3c;  
}

.keyboard-container {
    height: 200px;
    margin: 0 8px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    height: 198px;
    width: 484px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.button-keys {
    font-family: "nyt-franklin-600";
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #f8f8f8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.15;
}

.spacer {
    flex: 0.5;
}

@media (min-width: 768px) {
    .top-header {
        padding: 0px 1rem;
        justify-content: flex-end;
    }
}

@media (min-width: 400px) {
    .logout-button {
        margin-left: 10px;
    }
}

@media (min-width: 375px) {
    .logout-button {
        width: 147px;
    }
}

@media (min-width: 1024px) {
    .top-header {
        padding: 0px 1.5rem;
        height: 3.5rem;
        justify-content: flex-end;
    }

    
    .logout-button {
        font: 16px / 21px "nyt-franklin-600";
        height: 44px;
        width: 172px;
        margin-left: 12px;
        padding: 0 16px;
        min-height: 35px;
    }
    
}
